font-family: 'Amarante', cursive;



html {
    box-sizing:border-box;
    max-width: 1300px;
    min-width: 425px
}

*, *:before, *:after {
    box-sizing:inherit;
}

img {
    max-width: 100%;
}


.container {
  padding-left: 10px;
  display: block;
  max-width: 1200px;
  min-width: 600px;
  font-family:Amarante;
  font-size: 40px;

}
.head {
  text-align: center;
  padding-top: 5px;
}

.logo {
 width: 500px;
 height: 100px;
}

.menu {
  margin: 0;
  padding: 0px;
  margin-top: -400px;
  text-align: center;
  color: #FCF1B2;
  font-size: 200px;
  margin-bottom: 200px;
}

.men {
  margin: 0;
  padding: 0px;

}

.mom {
  margin: 5px
}

.see {
  color: #802220;
  margin-top: 0;
  padding: 0
}
